langchain
langchain-core
langchain-community
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
langchain-groq
python-dotenv
typesense
langchain_openai
langgraph
langserve
wikipedia
arxiv
langchainhub
sentence_transformers
langchain-huggingface
langchain-mistralai